.hero {
  position: relative;
  z-index: 1;
  margin-top: -120px;
  padding-top: 192px;
  height: 1600px;

  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='1920' height='1596' viewBox='0 0 1920 1596' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2_3)'%3E%3Cg filter='url(%23filter0_f_2_3)'%3E%3Ccircle cx='2538.5' cy='716.5' r='716.5' fill='%2300FFA3' /%3E%3C/g%3E%3Cg filter='url(%23filter1_f_2_3)'%3E%3Ccircle cx='-128.5' cy='160.5' r='386.5' fill='%2300FFA3' /%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_2_3' x='622' y='-1200' width='3833' height='3833' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='600' result='effect1_foregroundBlur_2_3' /%3E%3C/filter%3E%3Cfilter id='filter1_f_2_3' x='-1715' y='-1426' width='3173' height='3173' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='600' result='effect1_foregroundBlur_2_3' /%3E%3C/filter%3E%3CclipPath id='clip0_2_3'%3E%3Crect width='1920' height='1596' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    z-index: 2;
    user-select: none;
    pointer-events: none;
  }

  @media (max-width: $breakpoint1450) {
    padding-top: 140px;
    height: 1400px;
  }

  @media (max-width: $breakpoint992) {
    height: 1000px;
  }

  @media (max-width: $breakpoint768) {
    padding-top: 140px;
    height: 840px;

    &::before {
      background-position-x: right;
    }
  }

  // .hero__inner

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 214px;

    @media (max-width: $breakpoint1450) {
      row-gap: 120px;
    }
  }

  // .hero__head

  &__head {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }

  // .hero__title

  &__title {
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 90px;
    line-height: 110%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--white);

    @media (max-width: $breakpoint1450) {
      font-size: 72px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 44px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 32px;
    }
  }

  // .hero__text

  &__text {
    max-width: 948px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--white);

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }
  }

  // .hero__partners

  &__partners {}

  // .hero__partners-label

  &__partners-label {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: -0.03em;
    text-align: center;
    color: var(--white);

    @media (max-width: $breakpoint992) {
      font-size: 32px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 26px;
    }
  }

  // .hero__partners-list

  &__partners-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }

  // .hero__partners-item

  &__partners-item {}

  // .hero__partners-link

  &__partners-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    padding: 20px 32px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.01);
    transition: 0.2s linear;

    @media (hover:hover) {
      &:hover {
        backdrop-filter: blur(10px);
        background: rgba(87, 175, 125, 0.8);
      }
    }


    @media (max-width: $breakpoint768) {
      padding: 4px 20px;
      width: 100%;
      height: 62px;
    }
  }

  // .hero__partners-img

  &__partners-img {

    @media (max-width: $breakpoint768) {
      max-width: 116px;
    }
  }
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding-top: 480px;

  video {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1600px) {
    padding-top: 400px;
  }
}