// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1580;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

:root {
  // fonts
  --font-family: "Rubik", sans-serif;
  --second-family: "HelveticaNeueCyr", sans-serif;

  // colors
  --green: #57af7d;
  --white: #fff;
  --gray: #151515;
}